body {
    background: url("pictures/BeachMermaidCove1920by1080.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  }

  @font-face {
    font-family: IslandFont;
    src:url(./fonts/Geraldo-Island.ttf.woff)
  }

@font-face {
font-family: chill;
src:url(./fonts/Rosemary.ttf.woff)


}
  .h1 {
    display: inline-block;
font-family: IslandFont;
font-size: 15vh;
color: rgb(205, 224, 221);

  }
#phrase {
font-family: chill;
font-size:5vh;
color: rgb(205, 224, 221);
justify-self:

}

.spacer{

visibility:visible;
background-color:pink;
width: 42vw;
height:19vh;
display: inline-block;
}

#phrase {


}
.fadeinz2 {
    animation: fadein 5s;
    -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;

}

.topflex {
background-color: blue;
display: flex;
justify-content: flex-end;


}
.topflex .pushr {
justify-items: flex-end;
}
.fadeinz {
    animation: fadein 3s;
    -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  width: 95vw;
  justify-content: flex-end;

  display: flex;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }

}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.seashell {
width: 5vw;

}
.hidden2{
height:55vh;
width: 50px;
display: block;
}


.box8 {


}

.a1 {


    animation:fadeIn  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a2 {
    animation-name: FadeIn  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a3 {
    animation:fadein  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a4 {
    animation:fadein  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a5 {
    animation:fadein  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a6 {
    animation:fadein  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a7 {
    animation:fadein  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.a8 {
    animation:fadein  3s;
    -webkit-animation: fadeIn  3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.container {

}
.wrapper {

height: 80vh;
}
footer {

height: 20vh;
width: 100%;
}

.spacer2 {
visibility: hidden;
height:30vh;
width:100px;
}
.box {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  padding: 0px;
  margin-bottom: 0;
  }
  h3 {
  font-family: chill;
  color: #872a2a;
  font-size: 5vh;
  }


.htn {
visibility: none;
height: 2px;
display:none;
background-color: blue;
width:100vw;
height: 1vw;
grid-template-columns: 50vw 50vw;
grid-template-rows: 20vh 20vh;
}
