
body {
background-color: black;
color: white;
}

.carousel-item {

height:32rem;
background: #777;
color: white;
position: relative;
}
.carousel-item {
data-bs-interval=""
}
.container {
position: absolute;
bottom: 0;
left:0;
right: 0;
padding-bottom: 50px;
}
